@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    /* outline: none; */
}

*::selection {
    background: #e5e8e8;
    color: white;
}

html {
    font-size: 95%;
    overflow-x: hidden; /* barra desplazamiento */
}

body {
    background: whitesmoke;
}

section {
    min-height: 100%;
    padding: 0 7%;
    padding-top: 10%;
    padding-bottom: 18%;
}

header {
    border: 0px solid black;
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 0 8px 16px rgb(111, 111, 111);
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 30px;
    color: #9fa3a4;
}

header .nombre {
    font-family: 'Rubik 80s Fade', cursive;
    font-size: 30px;
    color: rgb(105, 104, 104);
}

header input {
    display: none;
}

header label {
    margin-left: 5%;
    font-size: 28px;
    color: #424949;
    cursor: pointer;
    visibility:hidden;
    opacity: 0;
}

header nav a:hover {
    color: black;
    text-decoration: line-through;
}

.inicio {
    display: flex;
    background: url(./img/Fondo1.png);
}

.inicio .img{
    width: 78%;
}

.bio h1{
    font-size: 28px;
    text-align: center;
    padding-bottom: 10px;
    color: #3b3f3f;
}

.cv {
    border: 0px black solid;
    background: white;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .2);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #424949;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 7%;
    padding-right: 7%;
    text-align: justify;
}

.cv p {
    text-transform: none;
    margin: 1%;
}

ul {
    padding: 1%;
}

h2 {
    font-size: 15px;
}

li {
    text-transform: none;
}

.btn-linkedin {
    margin-left: 10px;
}

.btn-linkedin:hover {
    color: #0e76a8;
}

.ilustraciones {
    background: url(./img/Fondo2.jpg);
    background-size: 35%;
    text-align: center;
}

.ilustraciones .caja-contenedora {
    display: inline-block;
    padding: 5px;
    vertical-align: top;
}

.ilustraciones .caja-contenedora .caja {   
    width: 350px;
    height: auto;
    flex-wrap: wrap;
    border-radius: 10px;
    text-align: center;
}

.ilustraciones .caja-contenedora .caja img{
    width: 100%; 
    border-radius: 20px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    margin: 10px;
}

.exposiciones {
    background: #dad9d9;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.exposiciones .caja-contenedor {
    display:inline-block;
    vertical-align: top;
    
}

.exposiciones .caja-contenedor .caja {
    width: 380px;
    height: auto;
    margin: 10px;
    padding: 15px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    display:flex;
    flex-wrap: wrap; 
}

.exposiciones .caja-contenedor .caja img {
    width: 100%;
    margin-bottom: 12px;
    border-radius: 20px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
}

.exposiciones .caja-contenedor .caja h3 {
    width: 100%;
    font-size: 15px;
    color: #333;
    padding-top: 15px;
    text-align: center;
    
}

.exposiciones .caja-contenedor .caja p {
    text-transform: none;
    text-align: justify;
    font-size: 15px;
    color: #666;
    padding: 0;
    margin: 2rem;
}

.btn-galeria {
    margin-left: 0;
}

.btn-galeria:hover {
    color: #080808;
}

.btn-artista {
    color: #6b6a6a;
    margin-left: 0;
    text-transform: capitalize;
    text-decoration: underline;
}

.btn-artista:hover {
    color: #080808;
   
}


/* RESPONSIVE */
/* escritorio */
@media(max-width:1200px) {
    html {
        font-size: 55%;
    }
}
/* tablet */
@media(max-width:768px) {
    header label {
        visibility: visible;
        opacity: 1;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: white;
        padding: 15px 30px;
        border-top: 1px solid rgba(0, 0, 0, 2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .4s linear;
    }
    
    header .navbar a {
        display: block;
        margin: 20px 0;
        font-size: 15px;
    }

    section {
        padding-top: 16%;
        padding-bottom: 18%;
    }

    /* para almacenar elementos dentro de la hamburguesa */
    input:checked~.navbar {
        transform: scaleY(1);
        opacity: 1;
    }
    /* simbolo x al hacer click en hamburguesa */
    header input:checked~label::before{
        content: "\f00d";
    }
}

@media(max-width:450px) {
    html {
        font-size: 50%;
    }
}